# if, elif, else Statements

Syntax:
if case1:
    perform action1
elif case2:
    perform action2:
else case3:
    perforn action3:

In [1]:
# if statement
if True:
    print('It was true!')

It was true!

In [2]:
# if else statement
x = False
if x == True :
    print('x was true!')
else:
    print('I will be printed in any case where x is not true.')

I will be printed in any case where x is not true.

In [5]:
# if elif else statement
loc = input('Enter the Location')
if loc == 'Auto Shop':
    print('Welcome to the Auto Shop')
elif loc == 'Bank':
    print('Welcome to the Bank')
else:
    print('Where are you? Your location is = ',loc)

Enter the Location School

Where are you? Your location is =  School

In [7]:
# for and if together
list1 = [1,2,3,4,5,6,7,8,9,10]
for num in list1:
    if num%2==0:
        print('Number is Even =',num)
    else:  
        print('Number is Odd =',num)

Number is Odd = 1
Number is Even = 2
Number is Odd = 3
Number is Even = 4
Number is Odd = 5
Number is Even = 6
Number is Odd = 7
Number is Even = 8
Number is Odd = 9
Number is Even = 10

In [ ]:
a = int(input())
if a%2==0:
        print('Number is Even =',a)
else:  
        print('Number is Odd =',a)

In [21]:
even_num = []
odd_num = []
for num in list(range(1,11)):
    if num%2==0:
        even_num.append(num)
    else:  
        odd_num.append(num)
print(even_num)
print(odd_num)

[2, 4, 6, 8, 10]
[1, 3, 5, 7, 9]

In [8]:
# Addition 
sum1 = 0
for num in list1:
    sum1 += num    #sum1 = sum1+num
print(sum1)

55

In [9]:
list2 = [(2,4),(6,8),(10,12)]
for (t0,t1) in list2:
    print(t0,',',t1)

2 , 4
6 , 8
10 , 12